
body {
  font-family: sans-serif;
}

.links line {
  stroke: grey;
}

.point {
  background-color: red;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1;
}

.tooltip {
  position: absolute;
  background-color: lightgrey;
  padding: 10px;
}


.origin {
  width: 20px;
  height: 20px;
  background-color: dimgrey;
  position: absolute;
  border-radius: 40px;
  top: 200px;
  left: 400px
}

.tel1{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 40px;
  top: 200px;
  left: 200px
}
.tel2{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 40px;
  top: 100px;
  left: 400px
}
.tel3{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 40px;
  top: 200px;
  left: 600px

}


.line1 {
  width: 200px;
  height: 1px;
  position: absolute;
  top: 210px;
  left: 210px;
  background-color: green;
}
.line2 {
  width: 1px;
  height: 100px;
  position: absolute;
  top: 110px;
  left: 410px;
  background-color: blue;
}
.line3 {
  width: 200px;
  height: 1px;
  position: absolute;
  top: 210px;
  left: 410px;
  background-color: orange;
}
